h1 {
    color: #b8ad09;
    display: flex;
    justify-content: center;
}

p {
    color: #a8a500;
    display: flex;
    margin-left: 20px;
    font-weight: bold;
}

.image {
    width: 450px;
    height: 300px; /* Aynı boyut için hem genişlik hem yükseklik belirleniyor */
    object-fit: cover; /* Görüntüyü kesip, alanı tamamen doldurur */
    border-radius: 10px;
    margin: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Hover ve aktif geçişler */
}

.image:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image:active {
    transform: scale(1.05) rotate(5deg);
}
.workout-container {
    padding: 20px;
  }
  
  /* Dropdown menu container */
  .dropdown-menu {
    margin: 20px 0;
    display: flex;
    gap: 20px;
  }
  
  /* Style for dropdown buttons */
  .dropdown-menu button {
    padding: 10px 20px;
    background-color: #a8a500;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  /* Active button and hover effect */
  .dropdown-menu button.active,
  .dropdown-menu button:hover {
    background-color: #b8ad09;
  }
  
  /* Optional: Style for the exercise sections */
  .exercise-section {
    margin-top: 20px;
  }
  