.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    color: #b8ad09;;
}
.card {
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 2rem;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.cardHeader h1 {
    margin: 0;
    font-size: 1.5rem;
}

.register .firstname,
.register .lastname,
.register .emailAddress,
.register .createPassword {
    background: hsl(0deg 0% 100%);
    box-shadow: 0 0 2em hsl(231deg 62% 94%);
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 20px;
    color: hsl(0deg 0% 30%);
}