.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    color: #b8ad09;;
}

.login .textLogin {
    font-size: 2rem;
    margin-bottom: 20px;
}

.login .email,
.login .password {
    margin-top: 10px;
    width: 100%;
    max-width: 300px; 
}

/* .login .toggleButton {
    margin-right: 10%;
} */


.login p {
    color: black;
    font-weight: bolder;
    margin-top: 10px;
    font-size: 1rem;
}

.loginButton {
    width: 100%;
    max-width: 300px;
}