

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden; 
  height: 100vh; 
  width: 100vw;
  position: relative;
  box-sizing: border-box; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* html {
  overflow: auto;
  height: 100%;
  position: relative;
} */

html {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

html::before {
  content: "";
  background: url("/src/images/pt-background.jpg") no-repeat center center fixed;;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6; /* Adjust the opacity for the background image */
  z-index: -1; /* Ensure the background stays behind the content */
}